body{
    background-image: url('/resources/images/news-backdrop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        z-index: -1;
    }

    #app-root{
        min-height: 100vh;
        display: grid;
        align-items: center;
    }

    .heading{
        display: flex;
        justify-content: center;
    }

    .card-block{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;

        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
    }

    @keyframes fadeInScale {
        from {
            opacity: 0;
            transform: scale(0.999);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    * {
        animation: fadeInScale 0.2s ease-out;
        animation-fill-mode: both;
    }
}
